$fontsize : 70px;
$themecolor : red;
$link-hover: yellow;
@import 'another.scss';

div{
	font-size: $fontsize;
}

p{
	font-size: $fontsize;
	color: $themecolor;
}

h1{
	color:$themecolor;
}

ul {
	margin: 10;
	li{
		float:left;
	}
	a{
		color : $themecolor;

		&:hover {
			color:$link-hover;
		}
	}
}

nav {
	ul{
	margin: 0;
	padding: 0;
	list-style: none;
	}
	li{
	display:inline-block;
	}
	a{
	display:block;
	padding: 6px 12px;
	text-decoration:none;
	&:hover {
		color:$link-hover;
	}
	}
}

